@charset "utf-8";
/* CSS Document */

/*
 * Global components
 */
body{
	/*background-color: #f1f3f6;*/
		}
label.checkbox_square input[type="checkbox"]:checked + span{
	border: 1px #46BE8A solid;
	transition:all 0.5 ease;
	}	
label.checkbox_square input[type="checkbox"]:checked + span:before{
    color: #46BE8A;
    border-color: #46BE8A;
}
label.btn_radio input[type="radio"]:checked + span{
    background: #46BE8A;
    border: 0px;
}
input[type="checkbox"] + label.checkbox_slider {
    background: #e4eaec;
}
input[type="checkbox"] + label.checkbox_slider span{
	 background: #FFF;
	}
input[type="checkbox"]:checked + label.checkbox_slider {
    -webkit-box-shadow: inset 0 0 0 36px #46be8a;
    box-shadow: inset 0 0 0 36px #46be8a;
}

.dropdown-menu{
	border:0px;	}
.btn-action-wrapper{
    background: rgba(56, 187, 251, 0.95);
    border-bottom-color: #eba600;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.85);
	}
/*
 * navbar
 */
 .navbar{ min-height: 60px;}
.navbar-fixed-top {
	/*background-color: #ffffff;*/
	background-color: #ffffff;
	
}
.navbar-inverse .navbar-nav > li > a{min-height: 60px;
    line-height: 30px;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: #fff;
	    min-height: 60px;
    line-height: 30px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	color: #000;
    background-color: #fff;
	}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
		}
	
/*
 * Sidebar
 */
	.sidebar {
	background-color: #275596;
	/*border-right: 1px #045E80 solid;*/
	}
		.leftside-toggle-btn{
    background-color: #275596;
		}
	.leftside-toggle-btn div{
		background-color: #4e5056;
	color: #fff;
		}
	.leftside-toggle-btn div:before{
		border-color: rgba(0, 0, 0, 0) #4e5056 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		}
	#side-menu {
    background: #275596;
}
#side-menu .nav  li > a:hover, #side-menu .nav  li > a:focus{
	background-color:#275596;
	}
#side-menu li {
    border-top: 1px solid rgba(0,0,0,0.2);
}
#side-menu li:first-child{
	border-top:0;
}
#side-menu li.active > a{
    background: #ffffff;
				color:#275596;
}
#side-menu li a {
    color: #fff;
				background:rgba(0,0,0,0.1);
}
#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus {
    background: #ffffff;
				color:#275596;
}
#side-menu li .nav-second-level li a {
    color: #fff;
				background:#275596;
}
#side-menu li .nav-second-level li a:hover {
    color: #275596;
				background:#ffffff;
}
#side-menu li.active a{
    color: #275596;
}
#side-menu li .nav-second-level li.active>a {
    color: #275596;
    background-color: #ffffff;
}

/*
 * Main
 */
 .colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
 
/*color*/

.clr_01{
	background:#3498db;
}
.clr_02{
	background:#9b59b6;
}
.clr_03{
	background:#2ecc71;
}
.clr_04{
	background:#f39c12;
}
.clr_05{
	background:#34495e;
}
.clr_bluedark{
	background:#2f89c5;
}
.clr_bluelight{
	background:#3498db;
}
.clr_bluedark{
	background:#2f89c5;
}
.clr_bluelight{
	background:#3498db;
}
.clr_bluelightest{
	background:#eaf4fb;
}